<div class="container mt-100 ">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/reportes//add-pqrs" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <p>PQRS - Es la posibilidad de hacer una petición, queja o reclamo. Ejemplo: Solicitar mayor
                                presencia de la
                                policia de inspección y vigilancia en parques donde propietarios llevan a sus mascotas y
                                no recogen excretas. Solicitud de charlas, capacitaciones, esterilizaciones, omisiones
                                de juntas administradores de conjuntos residenciales con respecto a la normatividad
                                vigente, etc.</p>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-4 col-md-4">
                                <label for=""><b>Tipo de reporte:</b></label>
                                <div class="select-itms">
                                    <select name="tipo_denuncia_reportes" required>
                                        <option value="PQRS" selected>PQRS
                                        </option>
                                        <!--<option value="Denuncia">Denuncia
                                        </option>
                                        <option value="Reporte" selected>Reporte
                                        </option> -->
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""><b>Dirección:</b></label>
                                <input type="text" class="form-control" name="ubicacion_reportes"
                                    placeholder="Proporcionanos tu ubicación" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for=""><b>Escribe tu duda queja o reclamo:</b></label>
                                <textarea type="text" class="form-control" name="descripcion_reportes"
                                    placeholder="Descripción" rows="5" required></textarea>
                            </div>
                            <div class="form-group col-md-6">
                                <!-- <label for=""><b>Adjuntar Evidencia:</b></label>
                                <input class="genric-btn radius" type="file" multiple="true" accept="image/*"
                                    name="evidencia_reportes">
                                <div class="mt-10">
                                    <strong>* Subir máximo 4 imágenes como evidencia.</strong>
                                </div>-->
                            </div>
                        </div>
                        <strong style="color: red;">Al dar click en "Enviar PQR" este será publicado y no
                            podrá ser editado o
                            eliminado. Por favor asegúrese de que todo lo registrado sea verídico.</strong>
                        <div class="form-group mt-10">
                            <button class="btn btn-success btn-block">Enviar PQR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>