<div class="footer-area footer-padding">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="single-footer-caption mb-50">
                    <div class="single-footer-caption mb-30">
                        <!-- logo -->
                        <div class="footer-logo mb-25">
                            <a href="/"><img src="img/logo_web.png" alt=""></a>
                        </div>
                        <div class="footer-tittle">
                            <div class="footer-pera">
                                <p>Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod tempor elit. </p>
                            </div>
                        </div>
                        <!-- social -->
                        <div class="footer-social">
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                            <a href="#"><i class="fab fa-twitter-square"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-youtube-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                <div class="single-footer-caption mb-50">
                    <div class="footer-tittle">
                        <h4>Sistema</h4>
                        <ul>
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Servicios</a></li>
                            <li><a href="#">Desarrolladores</a></li>
                            <li><a href="#"> Contactanos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                <div class="single-footer-caption mb-50">
                    <div class="footer-tittle">
                        <h4>Servicios</h4>
                        <ul>
                            <li><a href="#">Mis Mascotas</a></li>
                            <li><a href="#">Mis Reportes</a></li>
                            <li><a href="#">Se Busca</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                <div class="single-footer-caption mb-50">
                    <div class="footer-tittle">
                        <h4>Ponte en Contacto</h4>
                        <ul>
                            <li><a href="#">152-515-6565</a></li>
                            <li><a href="#">correoelectronico@mail.com</a></li>
                            <li><a href="#">Neiva, Huila</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom-area">
    <div class="container">
        <div class="footer-border">
            <div class="row d-flex align-items-center">
                <div class="col-xl-12 ">
                    <div class="footer-copy-right text-center">
                        <p>

                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados |
                            Hecho con el corazón
                            <i class="fa fa-heart" aria-hidden="true"></i> por <a href="#" target="_blank">UDS USCO</a>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>